<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <!--navbar-->
    <div class="my-nav-wrapper">
        <ul class="nav container">
            <li class="nav-item">
                <a class="nav-link active my-nav-a" aria-current="page" href="/">Home</a>
            </li>
        </ul>
    </div>