<div class="my-nav-wrapper">
    <ul class="nav container">
        <li class="nav-item">
            <a class="nav-link active my-nav-a" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active my-nav-a" href="/h2-console">Test</a>
        </li>
    </ul>
</div>